html {
    font-family: 'Open Sans';
    font-size: 14px;
}

h1 {
    margin: 0;
}

ul {
    padding-left: 14px;
    margin: 0;
}

li:not(:last-child) {
    padding-bottom: 4px;
}

input {
    padding: 4px;
    box-sizing: border-box;
}

/* UTILITIES */

.m-xl {
    margin: 20px;
}

.m-t-md {
    margin-top: 12px;
}

.m-t-xl {
    margin-top: 20px;
}

.m-b-md {
    margin-bottom: 12px;
}

.m-b-xl {
    margin-bottom: 20px;
}

.p-xl {
    padding: 20px;
}

.p-l-xl {
    padding-left: 20px;
}

.p-r-xl {
    padding-right: 20px;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #ffffff;
}

.text-bold {
    font-weight: bold;
}

/* COMPONENTS */

#bot-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.bot-card {
    margin: 10px;
    border: 1px solid #d6d6d6;
}

.bot-card-header {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    background-color: #505050;
    color: white;
    justify-content: space-between;
    border-bottom: 1px solid #bdbdbd;
}


.bot-card-body {
    padding: 5px;
}

.bot-card-body.inactive {
    background-color: #f5f5f5;
}

.bot-card-body.active {
    background-color: #e5f3ff;
}

.bot-name {
    padding: 2px 0;
    font-size: 1.4rem;
}

.bot-realm-name {
    padding: 4px 0 0 2px;
    text-transform: uppercase;
    font-size: 80%;
}

.bot-class-icon {
    position: relative;
}

.bot-class-icon img {
    width: 50px;
    height: 50px;
}

.bot-level {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 80%;
    text-align: center;
    line-height: 20px;
    border: 1px solid black;
}

.bot-current-zone {
    padding: 4px 0;
}

.bot-current-state {
    padding: 4px 0;
}

.bot-last-updated {
    padding: 4px 0;
}

.bot-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.bot-controls button {
    margin: 5px;
    background-color: #ff9456;
}

#header {
    height: 60px;
    background-color: #50a9e5;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}

#header a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

#header a, #header a:visited, #header a:hover, #header a:active {
    color: #eee;
    text-decoration: none;
}

#header a.active, #header a.active:visited, #header a.active:hover, #header a.active:active {
    color: #fff;
    font-weight: bold;
}

#header a:not(last-of-type) {
    padding-right: 30px;
}

.panel {
    border: 1px solid #eeeeee;
    width: 400px;
}

.form .form-group {
    width: 100%;
}

.form-group:not(:last-of-type) {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
}

.form-group input {
    display: block;
    width: 100%;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    border: none;
    background-color: #aaa;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.background-blue {
    background-color: #51a9e5;
}

.btn:focus {
    outline: 0;
}

.btn-primary {
    background-color: #51a9e5;
}

/* TABLES */

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: .75rem;
    text-align: left;
    border-bottom: 2px solid gray;
}

td {
    padding: .75rem;
    border-bottom: 1px solid #dcdcdc;
}

tr:last-of-type td {
    border-bottom: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1800px) {
    #bot-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1400px) {
    #bot-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    #bot-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    #bot-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 440px) {
    .panel {
        width: 100%;
    }
}