@{
    ViewData["Title"] = "Create Bot";
}

<h1 class="m-b-xl">Create Bot</h1>

<div class="panel">
    <form method="post" class="p-xl">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" />
        </div>

        <div class="form-group">
            <label>Realm Name</label>
            <input type="text" name="realmName" />
        </div>

        <div class="form-group">
            <label>Account Username</label>
            <input type="text" name="accountUsername" />
        </div>

        <div class="form-group">
            <label>Account Password</label>
            <input type="text" name="accountPassword" />
        </div>

        <div class="form-group">
            <label>AI</label>
            <input type="text" name="ai" />
        </div>

        <div class="form-group">
            <label>Class</label>
            <input type="text" name="class" />
        </div>

        <button type="submit" class="m-t-xl btn background-blue">Submit</button>
    </form>
</div>