@{
    ViewData["Title"] = "Bot Index";
}

<h1>Bot Index</h1>

<a class="m-t-xl btn background-blue" href="/Bot/Create">Create Bot</a>

<div class="p-xl">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Realm</th>
            <th class="text-center">Level</th>
            <th>Current State</th>
            <th>Last Updated</th>
            <th class="text-center">Stop</th>
            <th class="text-center">Start</th>
        </tr>
        </thead>
        <tbody id="bot-table">
        <tr>
            <td colspan="6">LOADING...</td>
        </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        //$(function () {
        //    var issueInstruction = function(botId, command) {
        //        $.ajax({
        //            url: "/Home/IssueInstruction",
        //            type: 'POST',
        //            data: {
        //                botId: botId,
        //                command: command
        //            }
        //        });
        //    }

        //    $(document).on('click', '.btn-stop', function (element) {
        //        issueInstruction(element.target.dataset.botId, 'STOP');
        //    });

        //    $(document).on('click', '.btn-start', function (element) {
        //        issueInstruction(element.target.dataset.botId, 'START');
        //    });

        //});

            setInterval(
                function() {
                    var xhr = new XMLHttpRequest();
                    xhr.responseType = 'json';
                    xhr.open('GET', '/Bot/List');
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            var tbody = document.getElementById("bot-table");
                            while (tbody.firstChild) {
                                tbody.removeChild(tbody.firstChild);
                            }
                            xhr.response.forEach(function (bot) {
                                var markup =
                                    '<tr>' +
                                        '<td>' + bot.name + '</td>' +
                                        '<td>' + bot.realmName + '</td>' +
                                        '<td class="text-center">' + bot.level + '</td>' +
                                        '<td>' + bot.currentState + '</td>' +
                                        '<td>' + bot.lastUpdated + '</td>' +
                                        '<td class="text-center"><button class="btn" data-bot-id="' + bot.id + '">STOP</button></td>' +
                                        '<td class="text-center"><button class="btn" data-bot-id="' + bot.id + '">START</button></td>' +
                                        '</tr>';
                                tbody.insertAdjacentHTML('beforeend', markup);
                            });
                        }
                        else {
                            console.log('Request failed.  Returned status of ' + xhr.status);
                        }
                    };
                    xhr.send();
                },
                1000
            );
        
    </script>
}