@{
    ViewData["Title"] = "Bot Index";
}

<h1>Bot Index</h1>

<div class="flex-space-between">
    <a class="m-t-xl btn btn-primary" href="/Bot/Create">Create Bot</a>

    <div>
        <label class="p-b-xs text-bold display-block">Sort Order</label>
        <select id="order-bots-filter">
            <option value="Last Updated">Last Updated</option>
            <option value="Name">Name</option>
            <option value="Realm Name">Realm Name</option>
            <option value="Active">Active</option>
        </select>
    </div>
</div>

<div class="m-t-xxl">
    <div id="bot-container" class="bot-container">
        <div class="bot-card" v-for="bot in bots">
            <div class="bot-card-header">
                <div>
                    <div class="bot-name">{{ bot.name }}</div>
                    <div class="bot-realm-name">{{ bot.realmName }}</div>
                </div>
                <div class="bot-class-icon">
                    <img v-bind:src="'/img/class-icons/' + bot.class.toLowerCase() + '.png'">
                    <span class="bot-level">{{ bot.level }}</span>
                </div>
            </div>
            <div class="bot-card-body" v-bind:class="{ danger: bot.currentZone === 'GM Island', inactive: bot.currentState === 'Idle', active: bot.currentZone !== 'GM Island' && bot.currentState !== 'Idle' }">
                <table>
                    <tbody>
                        <tr>
                            <td>Current Zone</td>
                            <td>{{ bot.currentZone }}</td>
                        </tr>
                        <tr>
                            <td>Current State</td>
                            <td>{{ bot.currentState }}</td>
                        </tr>
                        <tr>
                            <td>Last Updated</td>
                            <td>{{ bot.lastUpdated }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bot-controls">
                    <button class="btn" v-on:click="issueInstruction(bot.id, 'start')">Start</button>
                    <button class="btn" v-on:click="issueInstruction(bot.id, 'stop')">Stop</button>
                    <button class="btn" v-on:click="issueInstruction(bot.id, 'log-out')">Log Out</button>
                    <button class="btn" v-on:click="issueInstruction(bot.id, 'blacklist-target')">Blacklist Target</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </environment>

    <script>
        var app = new Vue({
            el: '#bot-container',
            data: {
                bots: []
            },
            methods: {
                issueInstruction: function (id, command) {
                    var xhr = new XMLHttpRequest();
                    xhr.responseType = 'json';
                    xhr.open('POST', '/Instruction/IssueInstruction?botId=' + id + '&command=' + command);
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            // TODO: handle success
                        }
                        else {
                            // TODO: handle instruction error
                        }
                    };
                    xhr.send();
                }
            }
        })

        function getBots() {
            var sortOrder = document.getElementById('order-bots-filter').value;
            var xhr = new XMLHttpRequest();
            xhr.responseType = 'json';
            xhr.open('GET', '/Bot/List?sortOrder=' + sortOrder);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    app.bots = xhr.response;
                }
                else {
                    document.getElementById("bot-container").parentElement.innerHTML = '<div class="error">There was a problem loading bot data.</div>';
                }
            };
            xhr.send();
        }

        setInterval(getBots, 1000);
    </script>
}
